# For Loop Statement:

In [ ]:
# Syntax:
for <local variable> in <objectname>:
    statement

In [2]:
# 0 1 2 3 4 5 6 7 8 9 10
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
# print odd number
for i in range(1,11,2):
    print(i,end=" ")

1 3 5 7 9

In [5]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [6]:
for i in range(-30,-10,1):
    print(i,end=" ")

-30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11

In [8]:
# print vowels from given sentance
sentence = input("enter a sentence :")
vowels ="aeiouAEIOU"
for i in sentence:
    if i in vowels:
        print(i,end=" ")

enter a sentence :Python is Simple Programming LANGUAGE
o i i e o a i A U A E

In [10]:
# FROM 1 TO 100 calciate sum of all number
n = int(input())
s = 0 # to store sum of all number
for i in range(1,n+1,1):
    s += i # s+i = i
print("sum is :",s)

100
sum is : 5050

In [13]:
n = int(input())
x = sum(range(1,n+1))
print("sum is :",x)

100
sum is : 5050

In [16]:
# input: 6
# output:
# 6*1=6
# 6*2= 12
# 6 *10 = 60
n = int(input())
for i in range(1,11):
    print(n,"*",i,"=",n*i)

100
100 * 1 = 100
100 * 2 = 200
100 * 3 = 300
100 * 4 = 400
100 * 5 = 500
100 * 6 = 600
100 * 7 = 700
100 * 8 = 800
100 * 9 = 900
100 * 10 = 1000