# Tuple:
    - Tuple canned be changed 
    - In tuple items are sperated by comma (,) and enclosed with round brackets


# Difference b/w List and Tuple:
- list is mutable/can be changed/modifed
    - access,modify,add,delete
- Tuple is immutable/cannot be changed
    - acess

In [2]:
t = (1,2,3,4,5,6)
print(t,type(t))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [3]:
t = (1,2,3,4,5,6)
print(t[4])

5

In [4]:
t = (1,2,3,4,5,6)
print(len(t))

6

In [7]:
# Update tuple
t = (1,2,3,4,5,6)
t1 = list(t)
print(t1)
t1[4]= 10
print(tuple(t1))

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 10, 6)

# Dictionary:
- to store data values in key:value pairs
- had unique data
- dic object separates the key and value by using colon and key :values separaetd by comma(,) and enclosed with curly brackets

In [13]:
d = {'a':'1','b':'2','c':'3','d':"4"}
print(d,type(d))

{'a': '1', 'b': '2', 'c': '3', 'd': '4'} <class 'dict'>

In [17]:
# access keys
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [16]:
# access values
d.values()

dict_values(['1', '2', '3', '4'])

In [18]:
# access items
d.items()

dict_items([('a', '1'), ('b', '2'), ('c', '3'), ('d', '4')])

In [19]:
# access particulr key values
d = {'a':'1','b':'2','c':'3','d':"4"}
print(d['c'])

3

In [20]:
# update key value
d['c'] = '10'
print(d)

{'a': '1', 'b': '2', 'c': '10', 'd': '4'}

In [21]:
# remove items
d = {'a':'1','b':'2','c':'3','d':"4"}
d.pop('c')
print(d)

{'a': '1', 'b': '2', 'd': '4'}

# Functional Programming:
- gruop of statement which can perform a specific taks
- code reusabaility
- program can be divided into multiple sub blocks

In [ ]:
# syntax:
def <fumctionname>(<parameters>):
    statement
    return

In [23]:
def add(x,y):
    print(x+y)
add(3,4)

7

In [24]:
def cude(a):
    return a*a*a
cude(5)

125

In [25]:
add(6,7)

13

In [26]:
cude(7)

343

In [27]:
# 123456
# o/p:2+4+6 = 12
def even(x):
    sum = 0
    while x !=0:
        a = x%10
        if a%2==0:
            sum = sum+a
        x = x//10
    return sum
even(123456)

12

In [28]:
# Find large number
# 1778
# 8
def large(n):
    large = 0
    while n !=0:
        a = n%10
        if large <a:
            large = a
        n= n//10
    return large
large(1778)

8

In [29]:
# 123
# 321
def reverse(n):
    rev = 0
    while n !=0:
        a = n%10
        rev = rev*10+a
        n = n//10
    return rev
reverse(123)

321

In [30]:
reverse(123456)

654321

In [33]:
# Palindrome or not
# 123 - 321
# 121 - 121
def palindrome(n):
    rev = 0
    buffer = n
    while n !=0:
        a = n%10
        rev = rev*10+a
        n =n//10
    if buffer ==rev:
            return "Yes"
    else:
            return "No"
print(palindrome(123))

No

In [34]:
print(palindrome(121))

Yes